@CHARSET "utf-8";

.rootback{
	background-image: url("../images/rootback.jpg");
	top:0;
	bottom:0;
	left:0;
	right: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}
.loginDiv{
	background-color:rgba(122, 182, 243, 0.7)!important;
	border-radius:14px;
	position: absolute;
	top:30%;
	right: 42%;
	width: 268px;
	height: 220px;
	bottom:35%;
	z-index:1;
	border: 1px solid #296DAE; 
	background-color: white;
		-webkit-box-shadow:0 0 45px rgba(0, 43, 255, 0.77);  
  -moz-box-shadow:0 0 45px rgba(0, 43, 255, 0.77);  
  box-shadow:0 0 45px rgba(0, 43, 255, 0.77);
}
.roottitle{
	position: absolute;
	right: 41%;
	top: 15%;
	font-family: YouYuan;
	font-weight: 900;
	color:#59A6F4;
	font-size: 30px;
	width: 260px;
}